@import url('https://fonts.googleapis.com/css?family=Rosario');

:root {
	--stevens-red: #A32638;
	--stevens-grey: #9A989A;
	--stevens-blue: #002D5D;
	--stevens-orange: #F98E2B;
	--stevens-beige: #F3DBB3;
}

body {
	font-family: 'Rosario', sans-serif;
    text-align: center;
   	background-color: #EFF4FC;
   	margin: 0;
}

#wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

#everythingButFooter {
	flex: stretch;
}

#otherstuff {
	display: flex;
	flex-direction: row;
}

header {
	display: flex;
	justify-content: center;
	flex-direction: column;
	left: 0;
	top: 0;
	margin: 0 30px 0 30px;
	background: linear-gradient(to right, transparent, white, transparent);
}

/* Add a black background color to the top navigation */
.topnav {
		display: none;
    background-color: var(--stevens-red);
    overflow: hidden;
		padding-bottom: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: var(--stevens-grey);
    color: black;
}

#sidenav {
    width: 250px;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--stevens-red);
    overflow-x: hidden;
    padding: 20px 5px 0 5px;
}

/* The navigation menu links */
.navGroup a {
    text-decoration: none;
		text-align: left;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    margin-left: 10px;
}

.navGroup ul {
	padding-left: 10px;
	margin-bottom: 10px;
	margin-top: 5px;
}

/* The navigation menu subtopic links */

.navGroup ul > * {
	text-decoration: none;
	font-size: 16px;
	color: #f1f1f1;
	margin-top: 5px;
}

/* When you mouse over the navigation links, change their color */
.navGroup a:hover {
    color: var(--stevens-grey);
}

.dropdown {
	display: none;
}

.navGroup:hover > .dropdown {
	display: block;
}

#headerHeader {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#logo {
	height: 100px;
}

#headerText {
	text-align: left;
	display: flex;
	flex-direction: column;
}

#headerText > * {
	margin: 0;
}

#headerText h3 {
	font-style: italic;
	color: var(--stevens-grey);
}

#returnButton {
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 2;
}

.fadingLine {
    display: block;
    border: none;
    color: white;
    height: 1px;
    width: 100%;
    margin: auto;
    background: radial-gradient(black 0%, transparent 65%);
}

#content {
	flex: stretch;
	width: 100%;
}

#footer {
	align-self: flex-end;
	width: 100%;
	z-index: 1;
	clear: both;
	margin-top:auto;

	background-color: var(--stevens-red);
	padding: 10px;
	left: 0;
	bottom: 0;

	font-weight: bold;
	color: white;

	display: flex;
	justify-content: center;
	flex-direction: row;
}

#footer span {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#footer p {
	margin: 0 10px;
}

#footer #team {
	text-shadow: 0px 2px black;
	color: white;
}

#footer #separator {
	color: var(--stevens-grey);
}

.webInfo{
	margin-bottom: 50px;
	margin-left: 20px;
}

h3{
	margin-left: 25px;
	margin-bottom: 0px;
	text-align: left;
}
ul{
	margin-top: 5px;
	margin-bottom: 30px;
	text-align: left;
	list-style: none;
}

li{
	margin-bottom: 5px;
}

#confidence {
	display: block;
	margin-top: 30px;
}

#slideContainer {
	display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
	padding-top: 30px;
	padding-left: 50px;
}

#sad_face {
	width:15%;
  height: auto;
	border: none;
	border-radius: 8px;
}

#herc {
	width:13%;
  height: 13%;
	border: none;
	border-radius: 8px;
}

#slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	height: 15px;
  border-radius: 10px;
	width: 60%;
	background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .7s; /* 0.2 seconds transition on hover */
  transition: opacity .7s;
}

/* Mouse-over effects */
#slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
		height: 25px;
	 	border-radius: 50%;
    background: var(--stevens-red); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
		height: 25px;
    border-radius: 50%;
    background: var(--stevens-red); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.fadingLine2 {
    display: block;
    border: none;
    color: white;
    height: 1px;
    width: 100%;
    margin-bottom: 50px;
    background: radial-gradient(black 0%, transparent 80%);
}

#buttonContainer {
	padding-top: 50px;
	padding-bottom: 50px;
}

#buttonContainerHeader {
	padding-bottom: 50px;
}

#rating_pic {
	border: none;
	border-radius: 8px;
}

input[type=radio] + label {
	width: 20%;
	opacity: .7;
	transition: .65s;
	background-color: var(--stevens-red);
	color: white;
	padding: 30px 40px;
	margin: 30px 10px 10px 10px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

input[type=radio] {
	display: none;
}

#buttonContainer label {
	display: inline-block;
}

#buttonContainer label:hover {
	background-color: var(--stevens-grey);
}

/*
  to style the <label> elements that are
  adjacent to a checked radio <input>: */
input[type=radio]:checked + label {
  opacity: 1;
}


#nameContainer {
	width: auto;
  padding: 20px;
	float: left;
	height: auto;
}

input[type=text], select {
    width: 100%;
		outline: none;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=submit] {
    width: 60%;
		transition: background-color 0.5s ease;
    background-color: var(--stevens-red);
    color: white;
    padding: 14px 20px;
    margin: 30px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--stevens-grey);
}

#responseContainer {
	width: auto;
	overflow: hidden;
	height: auto;
}

#feedback {
	margin: 20px 0;
	width: 90%;
	height: 200px;
	outline: none;
	border: none;
	border-radius: 8px;
	resize: none;
}

#feedback:focus {
    border: 3px solid #555;
}

#rating_pic{
	height: 200px;
	width: 200px;
}

#submit {
	display: inline-block;
	align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* MOBILE */
@media only screen and (max-width: 499px) {
	header, header > * {
		flex-direction: column;
	}

	.topnav {
		display: flex;
		flex-direction: row;
		position: -webkit-sticky; /* Safari */
    position: sticky;
		top: 0;
		bottom: 50px;
	}

	.topnav a {
		flex-direction: column;
		font-size: 70%;
		display:block;
		height:20px; /* fixed header height*/
	}

	.anchor{
	  display: block;
	  height: 40px; /*same height as header*/
	  margin-top: 40px; /*same height as header*/
	  visibility: hidden;
	}

	#sidenav {
		display: none;
	}

	#otherstuff {
		display: flex;
		flex-direction: column;
	}

	#footer {
		flex-direction: column;
	}

	#footer #separator {
		display: none;
	}

	#nameContainer {
		float:none;
	}

	#buttonContainer label {
		display: inline-block;
		width: 10%;
		margin: 30px;
	}
}

/* TABLET */
@media only screen and (max-width: 799px) and (min-width: 500px) {
	.topnav {
		display: flex;
		flex-direction: row;
		position: -webkit-sticky; /* Safari */
    position: sticky;
		top: 0;
		bottom: 50px;
	}

	.topnav a {
		flex-direction: column;
		font-size: 110%;
		display:block;
		height:30px; /* fixed header height*/
	}

	.anchor{
	  display: block;
	  height: 60px; /*same height as header*/
	  margin-top: 60px; /*same height as header*/
	  visibility: hidden;
	}

	#sidenav {
		display: none;
	}

	#otherstuff {
		display: flex;
		flex-direction: column;
	}

	#footer {
		flex-direction: column;
	}

	#footer #separator {
		display: none;
	}

	#nameContainer {
		float:none;
	}

	#buttonContainer label {
		display: inline-block;
		width: 10%;
		padding: 5 5 5 5;
	}

}
