@import url('https://fonts.googleapis.com/css?family=Rosario');

:root {
	--stevens-red: #A32638;
	--stevens-grey: #9A989A;
	--stevens-blue: #002D5D;
	--stevens-orange: #F98E2B;
	--stevens-beige: #F3DBB3;
}

body {
	font-family: 'Rosario', sans-serif;
    text-align: center;
   	background-color: #EFF4FC;
   	margin: 0;
}

header {
	display: flex;
	justify-content: center;
	flex-direction: column;
	left: 0;
	top: 0;
	margin: 0 30px 0 30px;
	background: linear-gradient(to right, transparent, white, transparent);
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--stevens-red);
    overflow-x: hidden;
    padding-top: 35px;
}

/* The navigation menu links */
.sidenav a {
    padding: 20px 8px 6px 16px;
    text-decoration: none;
		justify-content: left;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #818181;
}

#headerHeader {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#logo {
	height: 100px;
}

#headerText {
	text-align: left;
	display: flex;
	flex-direction: column;
}

#headerText > * {
	margin: 0;
}

#headerText h3 {
	font-style: italic;
	color: var(--stevens-grey);
}

.fadingLine {
    display: block;
    border: none;
    color: white;
    height: 1px;
    width: 100%;
    margin: auto;
    background: radial-gradient(black 0%, transparent 50%);
}

footer {
	position: fixed;
	width: 100%;
	background-color: var(--stevens-red);
	padding: 10px;
	left: 0;
	bottom: 0;

	font-weight: bold;
	color: white;

	display: flex;
	justify-content: center;
	flex-direction: row;
}

footer span {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

footer p {
	margin: 0 10px;
}

footer #team {
	text-shadow: 0px 2px black;
	color: white;
}

footer #separator {
	color: var(--stevens-grey);
}

/* DESKTOP */
@media only screen and (min-width: 800px) {

}

/* TABLET */
@media only screen and (max-width: 799px) and (min-width: 500px) {
	footer {
		flex-direction: column;
	}

	footer #separator {
		display: none;
	}
}

/* MOBILE */
@media only screen and (max-width: 499px) {
	header, header > * {
		flex-direction: column;
	}

	footer {
		flex-direction: column;
	}

	footer #separator {
		display: none;
	}
}
