@import url('https://fonts.googleapis.com/css?family=Rosario');

:root {
	--stevens-red: #A32638;
	--stevens-grey: #9A989A;
	--stevens-blue: #002D5D;
	--stevens-orange: #F98E2B;
	--stevens-beige: #F3DBB3;
}

body {
	font-family: 'Rosario', sans-serif;
    text-align: center;
   	background-color: #EFF4FC;
   	margin: 0;
}

#wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

#everythingButFooter {
	flex: stretch;
}

#otherstuff {
	display: flex;
	flex-direction: row;
}

header {
	display: flex;
	justify-content: center;
	flex-direction: column;
	left: 0;
	top: 0;
	margin: 0 30px 0 30px;
	background: linear-gradient(to right, transparent, white, transparent);
}

/* Add a black background color to the top navigation */
.topnav {
		display: none;
    background-color: var(--stevens-red);
    overflow: hidden;
		padding-bottom: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: var(--stevens-grey);
    color: black;
}

#sidenav {
    width: 250px;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--stevens-red);
    overflow-x: hidden;
    padding: 20px 5px 0 5px;
}

/* The navigation menu links */
.navGroup a {
    text-decoration: none;
	text-align: left;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    margin-left: 10px;
}

.navGroup ul {
	padding-left: 10px;
	margin-bottom: 10px;
	margin-top: 5px;
}

/* The navigation menu subtopic links */

.navGroup ul > * {
	text-decoration: none;
	font-size: 16px;
	color: #f1f1f1;
	margin-top: 5px;
}

/* When you mouse over the navigation links, change their color */
.navGroup a:hover {
    color: var(--stevens-grey);
}

.dropdown {
	display: none;
}

.navGroup:hover > .dropdown {
	display: block;
}

#headerHeader {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#logo {
	height: 100px;
}

#headerText {
	text-align: left;
	display: flex;
	flex-direction: column;
}

#headerText > * {
	margin: 0;
}

#headerText h3 {
	font-style: italic;
	color: var(--stevens-grey);
}

#returnButton {
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 2;
}

.fadingLine {
    display: block;
    border: none;
    color: white;
    height: 1px;
    width: 100%;
    margin: auto;
    background: radial-gradient(black 0%, transparent 50%);
}

#content {
	flex: stretch;
	width: 100%;
}

#footer {
	align-self: flex-end;
	width: 100%;
	z-index: 1;
	clear: both;
	margin-top:auto;

	background-color: var(--stevens-red);
	padding: 10px;
	left: 0;
	bottom: 0;

	font-weight: bold;
	color: white;

	display: flex;
	justify-content: center;
	flex-direction: row;
}

#footer span {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#footer p {
	margin: 0 10px;
}

#footer #team {
	text-shadow: 0px 2px black;
	color: white;
}

#footer #separator {
	color: var(--stevens-grey);
}

.webInfo{
	margin-bottom: 50px;
	margin-left: 20px;
}

h3{
	margin-left: 25px;
	margin-bottom: 0px;
	text-align: left;
}
ul{
	margin-top: 5px;
	margin-bottom: 30px;
	text-align: left;
	list-style: none;
}

li{
	margin-bottom: 5px;
}


/* MOBILE */
@media only screen and (max-width: 499px) {
	header, header > * {
		flex-direction: column;
	}

	.topnav {
		display: flex;
		flex-direction: column;
		position: -webkit-sticky; /* Safari */
    position: sticky;
		top: 0;
	}

	#sidenav {
		display: none;
	}

	#otherstuff {
		display: flex;
		flex-direction: column;
	}

	#footer {
		flex-direction: column;
	}

	#footer #separator {
		display: none;
	}
}

/* TABLET */
@media only screen and (max-width: 799px) and (min-width: 500px) {
	.topnav {
		display: flex;
		flex-direction: column;
		position: -webkit-sticky; /* Safari */
    position: sticky;
		top: 0;
	}

	#sidenav {
		display: none;
	}

	#otherstuff {
		display: flex;
		flex-direction: column;
	}

	#footer {
		flex-direction: column;
	}

	#footer #separator {
		display: none;
	}
}
